<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="userId" value="1365583b-7ef1-43e0-8da1-4e761ed5cc2e" />
    <add key="apiKey" value="fpaAFwvMQA3IeL_RT8uWSMSnrEOFIX0d" />
    <add key="port" value="4750" />
    <add key="hostname" value="localhost" />
    <add key="storageUri" value="http://localhost:6500/network/v1/gateway/measurements" />
    <add key="sensorsFile" value="..\..\..\Resources\sensors.json" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IParserService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint
				address="http://localhost:8080/Dsmr/ParserService"
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IParserService"
				contract="WCF.Parser.IParserService" name="WSHttpBinding_IParserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{ISO8601} %c [%t] %-5p %c - %m%n" />
      </layout>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Dsmr.WebClient.Service" />
      <datePattern value=".yyyy-MM-dd.lo\g" />
      <staticLogFileName value="false" />
      <maximumFileSize value="1GB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{ISO8601} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
