<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IParserService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Dsmr/ParserService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IParserService"
                contract="WCF.Parser.IParserService" name="WSHttpBinding_IParserService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>